# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Unimem Local Project Memory
.unimem/

# Agent & AI Editor Rules / Instructions
.aider.instructions.md
.aiderules
.antigravityrules
.clauderules
.clinerules
.codeiumrules
.continuerules
.cursorrules
.doublerules
.geminirules
.phindrules
.supermavenrules
.tabninerules
.windsurfrules
AGENTS.md
CLAUDE.md

